.services {

}

.servicesList {


  .servicesItem {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;

    @media(max-width: 545px) {
      flex-direction: column;
    }

    & + .servicesItem {
      margin-top: .2rem 
    }

    h3 {
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: .3rem;
      
      display: flex;
      align-items: center;

      span {
        font-size: .8rem;
        font-weight: 300;

        display: flex;
        align-items: center;

        svg {
          font-size: 1rem;
          margin-left: 1rem;
          margin-right: .2rem;
          color: var(--green);
        }
      }
    }

    p {
      margin: 0;
      font-size: .8rem;
    }

    .priceBox {
      display: flex;
      align-items: center;

      @media(max-width: 545px){
        margin-top: 0.5rem;
      }

      p {
        margin-right: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
      }

      button {
        background-color: var(--green);
        color: var(--white);
        padding: .6rem 1rem;
        border: 0;
        border-radius: 8px;
        font-weight: 600;

        display: inline-flex;
        align-items: center;

        svg {
          margin-left: .5rem;
        }
      }
    }
  }
}